{{template "base" .}} {{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>This is the about page</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum reiciendis
              expedita dolor? Deleniti similique repellat itaque nemo, sint eaque quos ex
              saepe inventore ullam quod. Blanditiis autem inventore adipisci libero.
            </p>

            <p>This came from the template: {{index .StringMap "test"}}</p>
        </div>
    </div>
</div>
{{end}}
